.seniors {
    text-align: center;
    margin: 35px 0px;
}
.seniors {
    background: url('https://i.imgur.com/PBYO8VR.jpg');
    background-size: cover;
    height: 300px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    color: #fff;
}